*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar{
    width: 100%;
    height: 80px;
    background-color: black;
   
}
.banner-section{
   
    width: 100%;
    height: 300px;
   
}
.category-section{
   
    width: 100%;
    height: 150px;
}
.arrival-section{
   
    width: 100%;
    height: 150px;
}
.discount-section{
   
    width: 100%;
    height: 150px;
   
    
}
.category-section ul li{
    list-style: none;
    display: inline-flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 3px solid black;
    position: relative;

}
.category-section ul li span{
    position: absolute;
    top: 100px;
}
.category-section ul li img{
    width: 100%;
}
.category-section li:hover{
     transform: scale(1.2);
}
.banner-section img{
    width:100%;
}
.arrival-section ul li{
    display: inline-flex;
    width: 200px;
    height: 200px;
    margin: 20px;
    margin-left: 20px;
}
.sub-section ul li:hover{
    transform: scale(1.1);
}
.sub-section ul li img{
    /* border: 1px solid red; */
    width: 100%;
    margin-left: 10px;
}
/* .sub-section{
    border: 1px solid black;

} */
.sub-section li{
    position: relative;
    
}

.sub-section span{
    position: absolute;
    top: 210px;
    margin-left: 10px;
    font-weight: bold;
}
.banner-2{
    position: relative;
    top: 350px;
}
.banner-2 img{
    width: 100%;
}
.discount-section{
    position: relative;
    top: 350px;
    margin-left: 20px;
}
.discount-section img{
    width: 220px;
    height: 250px;
    margin: 10px;
}
.footer{
    position: relative;
    top: 750px;

}
.footer img{
    width: 100%;
}
.navbar{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
}
.company h2{
    margin-left: 20px;
}
.products ul li{
    display: inline-flex;
    list-style: none;
    margin-right: 20px;
}
.product-detail {
    display: flex;
}

.pro-left {
    width: 100%;
    max-width: 50%;
    border: 1px solid black;
}

.pro-left img {
    width: 500px;
    height: 500px;
    padding-left: 50px;
}

.pro-right {
    width: 100%;
    max-width: 50%;
    border: 1px solid black;
}

.pro-right h4 {
    padding: 20px;
}

.pro-right ul li {
    list-style: none;
    margin: 20px;
}

.pro-button {
    width: 100%;
}

.addBtn,
.buyBtn {
    width: 10rem;
    height: 3rem;
    margin: 10px;
}

.addBtn {
    background-color: orangered;
    color: white;
}

.buyBtn {
    background-color: aquamarine;
}